* {
    padding: 0;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
}

header {
    background: #333;
    color: white;
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;

}

footer {
    background: #333;
    color: white;
    display: flex;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */

}